<div class="row">
  <div class="col-xs-12">
    <button style="float: left; position: relative; padding: 10px 15px;" class="btn btn-primary" (click)="openModal(template)">New Recipe</button>
  </div>
</div>
<hr>

<div style="display: table-cell;">
  <app-recipe-item
    *ngFor="let recipeEl of recipes; let i = index"
    [recipe]="recipeEl"
    [index]="i">
  </app-recipe-item>
</div>

<ng-template #template>
  <div class="modal-header" style="background-color: #4cae4c;">
    <h4 class="modal-title"></h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide();">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <router-outlet></router-outlet>
  </div>
</ng-template>

